.label {
    margin-right: 0.5rem;
    font-size: 0.8rem;
    color: #444
}

.checkbox-group {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.checkbox-group > div {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}